section.new-form form label,
section.new-form form input,
section.new-form form textarea {
    display: block;
    width: 100%;
}

section.new-form form label {
    margin-top: 16px;
}

section.new-form form input {
    height: 2em;
    padding-left: 1em;
}

section.new-form form textarea {
    padding-left: 1em;
    resize: vertical;
}

section.new-form form select {
    width: 100px;
    margin-top: 0.5em;
}

section.new-form form input[type=file] {
    padding: 1em;
    border: 1px solid black;
    height: unset;
    margin-top: 0.2em;
    border-radius: 0.8em;
}

section.new-form form input[type=submit] {
    margin-top: 16px;
    cursor: pointer;
}